body{
    font-family: Arial, sans-serif;
    background-color: #150101;
}

h1{
    color: rgb(72, 66, 66);
    text-align: center;
    cursor: pointer;
}
p{
    font-size: 18px;
    color: rgb(41, 146, 15);
    text-align: center;
    cursor: pointer;
}